/* admin.css */

/* Base styling */
body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #BB86FC;
}

a:hover {
    color: #3700B3;
}

.navbar {
    background-color: #1F1B24;
    padding: 10px 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #BB86FC;
}

.navbar-brand:hover {
    color: #3700B3;
}

.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #1F1B24;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #BB86FC;
}

.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    background-color: #292929;
    border: none;
    color: #E0E0E0;
}

.table th {
    background-color: #1F1B24;
    font-weight: bold;
}

.table th:not(:last-child), .table td:not(:last-child) {
    border-right: 1.5px solid rgb(173, 0, 0); 
}

.table img {
    max-width: 50px;
    height: auto;
    border-radius: 5px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #1F1B24;
}

.table-hover tbody tr:hover {
    background-color: #2A2A2A;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    background-color: #292929;
    border: 1px solid #3A3A3A;
    color: #E0E0E0;
    border-radius: 4px;
}

.form-control:focus {
    background-color: #292929;
    border-color: #BB86FC;
    box-shadow: none;
}

.btn-primary {
    background-color: #BB86FC;
    border-color: #BB86FC;
    color: #121212;
}

.btn-primary:hover {
    background-color: #3700B3;
    border-color: #3700B3;
}

.btn {
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="file"] {
    padding: 10px;
    background-color: #292929;
    border: 1px solid #3A3A3A;
    color: #E0E0E0;
}

input[type="file"]::file-selector-button {
    background-color: #BB86FC;
    border: none;
    color: #121212;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #3700B3;
}
